.paragraft {
  text-align: center;
  color: #ffff;
  font-size: 230%;
  margin-top: 80px;
  line-height: 0.61em;
  padding-top: 30px;
}
.buttons {
  border-radius: 100px !important;
  margin-top: 50px;
  margin-left: 240px;
  padding-top: 11px;
  padding-right: 35px;
  padding-bottom: 10px;
  padding-left: 35px;
}

.buttons2 {
  text-align: center;
}
