.layanan {
  margin-bottom: 100px;
  justify-content: center;
}

.text {
  text-align: center;
}

.baground-layanan {
  background: url(../../../assets/img/baground3.svg);
  background-size: cover;
  min-height: 100vh;
}

.marginss {
  justify-self: center;
}

.gif-image {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 10%;
}
.margin1-top {
  margin-top: 6%;
}
